### Import modules

In [23]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

### Import Dataset

In [24]:
 pd.set_option('display.max_columns', None)
workers_df = pd.read_csv("../data/raw/factory_workers.csv", sep=',', encoding="mac_roman")

In [25]:
workers_df.head()

,sub_ID,sub_fname,sub_lname,sub_age,sub_sex,sub_shift,sub_team,sub_role,sub_coll_IDs,sub_colls_same_sex_prtn,sub_health_h,sub_commitment_h,sub_perceptiveness_h,sub_dexterity_h,sub_sociality_h,sub_goodness_h,sub_strength_h,sub_openmindedness_h,sub_workstyle_h,sup_ID,sup_fname,sup_lname,sup_age,sup_sub_age_diff,sup_sex,sup_role,sup_commitment_h,sup_perceptiveness_h,sup_goodness_h,event_date,event_week_in_series,event_day_in_series,event_weekday_num,event_weekday_name,behav_comptype_h,behav_cause_h,actual_efficacy_h,record_comptype,record_cause,recorded_efficacy,recorded_note_from_sup,record_conf_matrix_h
0,98000001,Rebecca,Bauer,40,F,Shift 1,Team 1,Team Leader,"[98000002, 98000003, 98000004, 98000005, 98000...",0.714285714,0.895,1.000,0.659,0.592,0.799,0.501,0.484,0.676,Group A,98000216,Susan,Dahl,24,-16,F,Shift Manager,0.842,0.948,0.971,1/1/2021,1,1,4,Friday,Presence,None,None,Presence,None,None,None,None
1,98000001,Rebecca,Bauer,40,F,Shift 1,Team 1,Team Leader,"[98000002, 98000003, 98000004, 98000005, 98000...",0.714285714,0.895,1.000,0.659,0.592,0.799,0.501,0.484,0.676,Group A,98000216,Susan,Dahl,24,-16,F,Shift Manager,0.842,0.948,0.971,1/1/2021,1,1,4,Friday,Efficacy,None,1.489,Efficacy,None,1.2,None,None
2,98000002,Joan,Winter,61,F,Shift 1,Team 2,Team Leader,"[98000001, 98000003, 98000004, 98000005, 98000...",0.714285714,0.752,0.563,0.449,0.766,0.872,0.655,0.786,0.908,Group C,98000216,Susan,Dahl,24,-37,F,Shift Manager,0.842,0.948,0.971,1/1/2021,1,1,4,Friday,Presence,None,None,Presence,None,None,None,None
3,98000002,Joan,Winter,61,F,Shift 1,Team 2,Team Leader,"[98000001, 98000003, 98000004, 98000005, 98000...",0.714285714,0.752,0.563,0.449,0.766,0.872,0.655,0.786,0.908,Group C,98000216,Susan,Dahl,24,-37,F,Shift Manager,0.842,0.948,0.971,1/1/2021,1,1,4,Friday,Efficacy,None,1.023,Efficacy,None,0.8,None,None
4,98000003,Elizabeth,Martinez,20,F,Shift 1,Team 3,Team Leader,"[98000001, 98000002, 98000004, 98000005, 98000...",0.714285714,0.573,0.907,0.735,0.878,0.985,0.840,0.900,0.777,Group C,98000216,Susan,Dahl,24,4,F,Shift Manager,0.842,0.948,0.971,1/1/2021,1,1,4,Friday,Presence,None,None,Presence,None,None,None,None

### Drop Unnecessary Columns

In [26]:
# drop unnecessary columns
unnecessary_cols = ['sub_fname', 'sub_lname','sub_coll_IDs', 'sub_colls_same_sex_prtn','sup_fname', 'sup_lname','event_week_in_series',
 'event_day_in_series','event_weekday_num', 'event_weekday_name', 'recorded_note_from_sup', 'record_conf_matrix_h', 
                   'behav_cause_h', 'record_cause']

workers_df.drop(columns=unnecessary_cols, inplace=True)

In [27]:
# drop all rows with production director as sub_role
workers_df = workers_df[workers_df['sub_role'] != 'Production Director']

In [28]:
# check df
workers_df.head()

,sub_ID,sub_age,sub_sex,sub_shift,sub_team,sub_role,sub_health_h,sub_commitment_h,sub_perceptiveness_h,sub_dexterity_h,sub_sociality_h,sub_goodness_h,sub_strength_h,sub_openmindedness_h,sub_workstyle_h,sup_ID,sup_age,sup_sub_age_diff,sup_sex,sup_role,sup_commitment_h,sup_perceptiveness_h,sup_goodness_h,event_date,behav_comptype_h,actual_efficacy_h,record_comptype,recorded_efficacy
0,98000001,40,F,Shift 1,Team 1,Team Leader,0.895,1.000,0.659,0.592,0.799,0.501,0.484,0.676,Group A,98000216,24,-16,F,Shift Manager,0.842,0.948,0.971,1/1/2021,Presence,None,Presence,None
1,98000001,40,F,Shift 1,Team 1,Team Leader,0.895,1.000,0.659,0.592,0.799,0.501,0.484,0.676,Group A,98000216,24,-16,F,Shift Manager,0.842,0.948,0.971,1/1/2021,Efficacy,1.489,Efficacy,1.2
2,98000002,61,F,Shift 1,Team 2,Team Leader,0.752,0.563,0.449,0.766,0.872,0.655,0.786,0.908,Group C,98000216,24,-37,F,Shift Manager,0.842,0.948,0.971,1/1/2021,Presence,None,Presence,None
3,98000002,61,F,Shift 1,Team 2,Team Leader,0.752,0.563,0.449,0.766,0.872,0.655,0.786,0.908,Group C,98000216,24,-37,F,Shift Manager,0.842,0.948,0.971,1/1/2021,Efficacy,1.023,Efficacy,0.8
4,98000003,20,F,Shift 1,Team 3,Team Leader,0.573,0.907,0.735,0.878,0.985,0.840,0.900,0.777,Group C,98000216,24,4,F,Shift Manager,0.842,0.948,0.971,1/1/2021,Presence,None,Presence,None

### Create target variable column

In [29]:
# create a binary column based on whether a worker resigned or not
workers_df['Resigned'] = [1 if x == 'Resignation' else 0 for x in workers_df['behav_comptype_h']]

### Feature Engineering: Encode Categorical Variables

In [30]:
# Get a list of relevant events
relevant_events = list(workers_df['behav_comptype_h'].unique())
sabotage = relevant_events[-1]
relevant_events = relevant_events[:10]
relevant_events.append(sabotage)
relevant_events

['Presence',
 'Efficacy',
 'Feat',
 'Slip',
 'Sacrifice',
 'Lapse',
 'Idea',
 'Teamwork',
 'Absence',
 'Disruption',
 'Sabotage']

***Count the number of instances each employee had an underrecorded efficacy score***

In [31]:
# Find a count of underrecorded efficacy for each employee
underrecorded_efficacies = workers_df[workers_df['recorded_efficacy'] < workers_df['actual_efficacy_h']]
underrecorded_efficacies

# Group underrecorded efficacies by sub_ID and get count
efficacy = underrecorded_efficacies.groupby('sub_ID')['recorded_efficacy'].count().reset_index()

# Rename col
efficacy.rename(columns={'recorded_efficacy':'Num Underrecorded Efficacy'}, inplace=True)
efficacy.sort_values(by='Num Underrecorded Efficacy', ascending=False).head()

       sub_ID  Num Underrecorded Efficacy
347  98000425                         213
447  98000539                         213
156  98000195                         212
95   98000123                         211
495  98000600                         211

***Count the number of instances each employee had a mismatched relevant event recorded***

In [32]:
# Filter df based on relevant events
relevant_events_df = workers_df[workers_df['behav_comptype_h'].isin(relevant_events)]

In [33]:
# Find a count of mismatched recorded events for each employee
mismatched_events = relevant_events_df[relevant_events_df['behav_comptype_h'] != relevant_events_df['record_comptype']]

# Group by sub_ID and get a count of each mismatched event
events = mismatched_events.groupby('sub_ID')['behav_comptype_h'].count().reset_index()

# Rename column and sort
events.rename(columns={'behav_comptype_h':'Num Mismatched Events'}, inplace=True)
events.sort_values('Num Mismatched Events', ascending=False).head()

       sub_ID  Num Mismatched Events
415  98000532                     15
426  98000547                     15
100  98000137                     12
264  98000349                     12
167  98000219                     12

In [34]:
# Merge Mismatched Efficacies and Events 
new_features = efficacy.merge(events, left_on='sub_ID', right_on='sub_ID', how='left')
new_features

       sub_ID  Num Underrecorded Efficacy  Num Mismatched Events
0    98000001                         185                    7.0
1    98000002                         202                    4.0
2    98000003                         194                    6.0
3    98000004                         183                    5.0
4    98000005                         181                    5.0
..        ...                         ...                    ...
680  98000785                           9                    NaN
681  98000786                           5                    2.0
682  98000787                           7                    NaN
683  98000788                           1                    1.0
684  98000789                           2                    NaN

[685 rows x 3 columns]

In [35]:
# fill missing values for Mismatched events column with 0
new_features.fillna(0, inplace=True)

# Convert data type to int for mismatched events col
new_features['Num Mismatched Events'] = new_features['Num Mismatched Events'].astype('int')
new_features.dtypes

sub_ID                        int64
Num Underrecorded Efficacy    int64
Num Mismatched Events         int64
dtype: object

In [36]:
# Merge new features to original dataframe
merged_df = workers_df.merge(new_features, left_on='sub_ID', right_on='sub_ID')

### Drop duplicate rows and some Categorical Features

In [37]:
# drop features already encoded
features_to_drop = ['behav_comptype_h', 'record_comptype', 'actual_efficacy_h', 'recorded_efficacy']
merged_df.drop(columns=features_to_drop, inplace=True)

In [38]:
# drop duplicate rows based on last event date
df = merged_df.sort_values('event_date').drop_duplicates('sub_ID', keep='last')
df = df.sort_values('sub_ID')

# Convert event_date col to datetime 
df['event_date'] = pd.to_datetime(df['event_date'])

### Create Dummy Variables for Categorical Features

In [39]:
# Features to encode
cat_vars = ['sub_sex', 'sub_shift', 'sub_team', 'sub_role', 'sub_workstyle_h', 'sup_sex', 'sup_role']

In [40]:
# Get dummy variables
df = pd.get_dummies(df, columns=cat_vars, prefix=cat_vars, drop_first=True)

In [42]:
# Inspect encoded features
df.head()

,sub_ID,sub_age,sub_health_h,sub_commitment_h,sub_perceptiveness_h,sub_dexterity_h,sub_sociality_h,sub_goodness_h,sub_strength_h,sub_openmindedness_h,sup_ID,sup_age,sup_sub_age_diff,sup_commitment_h,sup_perceptiveness_h,sup_goodness_h,event_date,Resigned,Num Underrecorded Efficacy,Num Mismatched Events,sub_sex_M,sub_shift_Shift 2,sub_shift_Shift 3,sub_team_Team 10,sub_team_Team 11,sub_team_Team 12,sub_team_Team 13,sub_team_Team 14,sub_team_Team 15,sub_team_Team 16,sub_team_Team 17,sub_team_Team 18,sub_team_Team 19,sub_team_Team 2,sub_team_Team 20,sub_team_Team 21,sub_team_Team 22,sub_team_Team 23,sub_team_Team 24,sub_team_Team 3,sub_team_Team 4,sub_team_Team 5,sub_team_Team 6,sub_team_Team 7,sub_team_Team 8,sub_team_Team 9,sub_team_unassigned,sub_role_Shift Manager,sub_role_Team Leader,sub_workstyle_h_Group B,sub_workstyle_h_Group C,sub_workstyle_h_Group D,sub_workstyle_h_Group E,sup_sex_M,sup_role_Shift Manager,sup_role_Team Leader
377,98000001,40,0.895,1.000,0.659,0.592,0.799,0.501,0.484,0.676,98000216,24,-16,0.842,0.948,0.971,2021-09-09,0,185,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0
1191,98000002,61,0.752,0.563,0.449,0.766,0.872,0.655,0.786,0.908,98000216,24,-37,0.842,0.948,0.971,2021-09-09,0,202,4,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0
1991,98000003,20,0.573,0.907,0.735,0.878,0.985,0.840,0.900,0.777,98000216,24,4,0.842,0.948,0.971,2021-09-09,0,194,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0
2796,98000004,18,0.547,0.819,0.659,0.776,0.556,0.755,0.872,0.382,98000216,24,6,0.842,0.948,0.971,2021-09-09,0,183,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0
3592,98000005,59,0.777,0.629,0.678,0.749,0.652,0.686,0.566,0.336,98000216,24,-35,0.842,0.948,0.971,2021-09-09,0,181,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,1,0

In [51]:
# Check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 685 entries, 377 to 411132
Data columns (total 56 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   sub_ID                      685 non-null    int64
 1   sub_age                     685 non-null    int64
 2   sub_health_h                685 non-null    float64
 3   sub_commitment_h            685 non-null    float64
 4   sub_perceptiveness_h        685 non-null    float64
 5   sub_dexterity_h             685 non-null    float64
 6   sub_sociality_h             685 non-null    float64
 7   sub_goodness_h              685 non-null    float64
 8   sub_strength_h              685 non-null    float64
 9   sub_openmindedness_h        685 non-null    float64
 10  sup_ID                      685 non-null    object
 11  sup_age                     685 non-null    object
 12  sup_sub_age_diff            685 non-null    object
 13  sup_commitment_h            685 non-null    object
 14  sup_perceptiveness_h        685 non-null    object
 15  sup_goodness_h              685 non-null    object
 16  event_date                  685 non-null    datetime64[ns]
 17  Resigned                    685 non-null    int64
 18  Num Underrecorded Efficacy  685 non-null    int64
 19  Num Mismatched Events       685 non-null    int64
 20  sub_sex_M                   685 non-null    uint8
 21  sub_shift_Shift 2           685 non-null    uint8
 22  sub_shift_Shift 3           685 non-null    uint8
 23  sub_team_Team 10            685 non-null    uint8
 24  sub_team_Team 11            685 non-null    uint8
 25  sub_team_Team 12            685 non-null    uint8
 26  sub_team_Team 13            685 non-null    uint8
 27  sub_team_Team 14            685 non-null    uint8
 28  sub_team_Team 15            685 non-null    uint8
 29  sub_team_Team 16            685 non-null    uint8
 30  sub_team_Team 17            685 non-null    uint8
 31  sub_team_Team 18            685 non-null    uint8
 32  sub_team_Team 19            685 non-null    uint8
 33  sub_team_Team 2             685 non-null    uint8
 34  sub_team_Team 20            685 non-null    uint8
 35  sub_team_Team 21            685 non-null    uint8
 36  sub_team_Team 22            685 non-null    uint8
 37  sub_team_Team 23            685 non-null    uint8
 38  sub_team_Team 24            685 non-null    uint8
 39  sub_team_Team 3             685 non-null    uint8
 40  sub_team_Team 4             685 non-null    uint8
 41  sub_team_Team 5             685 non-null    uint8
 42  sub_team_Team 6             685 non-null    uint8
 43  sub_team_Team 7             685 non-null    uint8
 44  sub_team_Team 8             685 non-null    uint8
 45  sub_team_Team 9             685 non-null    uint8
 46  sub_team_unassigned         685 non-null    uint8
 47  sub_role_Shift Manager      685 non-null    uint8
 48  sub_role_Team Leader        685 non-null    uint8
 49  sub_workstyle_h_Group B     685 non-null    uint8
 50  sub_workstyle_h_Group C     685 non-null    uint8
 51  sub_workstyle_h_Group D     685 non-null    uint8
 52  sub_workstyle_h_Group E     685 non-null    uint8
 53  sup_sex_M                   685 non-null    uint8
 54  sup_role_Shift Manager      685 non-null    uint8
 55  sup_role_Team Leader        685 non-null    uint8
dtypes: datetime64[ns](1), float64(8), int64(5), object(6), uint8(36)
memory usage: 136.5+ KB

In [61]:
# get features with object types to convert to int
o_types = df.select_dtypes(include=['object'], exclude=['datetime']).columns.to_list()

# convert to num type
df[o_types] = df[o_types].apply(pd.to_numeric, errors='coerce')

### Create train and test splits

In [67]:
# Create target variable and feature matrix
X = df.drop(columns=['sub_ID', 'sup_ID', 'event_date', 'Resigned'])
y = df['Resigned']

In [68]:
# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

### Preprocessing: Standardize Numeric Features

In [48]:
# Get numeric features
num_features = ['sub_age', 'sub_health_h', 'sub_commitment_h',
       'sub_perceptiveness_h', 'sub_dexterity_h', 'sub_sociality_h',
       'sub_goodness_h', 'sub_strength_h', 'sub_openmindedness_h',
       'Num Underrecorded Efficacy', 'Num Mismatched Events',]

In [ ]:
# instantiate scaler
#SS_scaler = StandardScaler()

# fit values to scaler
#SS_scaler.fit(X_train[num_features])

### Handle Imbalanced Classes